NET "CLK" LOC = "P29" | IOSTANDARD = LVCMOS33;
NET "DBG" LOC = "P27" | IOSTANDARD = LVCMOS33;
NET "PLL" LOC = "P22" | IOSTANDARD = LVCMOS33;
NET "POST" LOC = "P40" | IOSTANDARD = LVCMOS15 | SCHMITT_TRIGGER;
NET "RST" LOC = "P8" | IOSTANDARD = LVCMOS15 | SCHMITT_TRIGGER;
